@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

main,
body {
  background-color: whitesmoke;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

#login_button,
#register_button {
  background-color: #000000;
  font-size: 15px;
  width: 100px;
  color: white;
  border-style: none;
  display: flex;
  justify-content: center;
  text-align: center;
}

#login_button:hover,
#register_button:hover {
  color: lightgray;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  padding: 0px 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #113a78;
  z-index: 1;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 50px;
}

.navbar ul a:hover {
  color: lightgray;
}

.header img {
  height: 90%;
}

.header a {
  height: 90%;
}

.navbar li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.navbar {
  display: flex;
}

.navbar i {
  font-size: 36px;
  display: none;
}

#toggle-menu {
  display: none;
}

#nav-button-login,
#nav-button-register {
  display: flex;
  font-size: 20px;
  color: white;
}

#nav-button-login:hover,
#nav-button-register:hover {
  color: lightgray;
}

.navbar-link {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 15px;
  position: relative;
}

.navbar-link i {
  margin-left: 5px;
}

.navbar-link[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  display: none;
}

.navbar-link:hover::after {
  display: block;
}

**** Hero **** .hero {
  padding: 1%;
  display: flex;
  flex-direction: column;
}

.hero-container {
  display: flex;
  flex-direction: row;
  margin-top: 8%;
}

#hero-div {
  width: 50%;
  padding: 3%;
  margin-left: 0%;
}

#hero-video {
  width: 60%;
  display: flex;
}

section {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 10%;
  margin-left: 5%;
  padding: 1%;
  margin-bottom: 8%;
}

h1 {
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  border-right: 2px solid transparent;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

.typewriter {
  animation: typing 4s steps(40) 1s 1 normal both,
    blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 95%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

button {
  margin-top: 15%;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  padding: 2%;
  border-radius: 35px;
  width: 50%;
}

button:hover {
  background-color: #113a78;
  color: white;
}

**** ABOUT **** #about {
  padding: 3%;

  display: flex;
  flex-direction: row;
}

#about-div {
  width: 100%;
  padding: 2%;
  font-size: 30px;
  line-height: 2;
  margin-top: 1%;
  margin-bottom: 1%;
  font-weight: bold;
}

#equipo {
  width: 100%;
  border-radius: 5%;
}

.info-container {
  margin-top: 8%;
  margin-bottom: 8%;
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 80px;
}

.info-cards {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 600px;
  height: 600px;
  display: flex;
  font-size: 30px;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 40px;
  font-weight: bolder;
  color: black;

  margin: 30px;

  border: 1px solid black;
}

.info-cards i {
  font-size: 40px;
  margin-bottom: 60px;
  margin-top: 25px;
}

.info-cards{
  display: flex;
  justify-content: center;
  text-align: center;
  align-self: center;
  align-content: center;
}

#card1 {
  background-image: url(../img/code.jpg);
  background-size: cover;
}

#card2 {
  background-image: url(../img/data.jpg);
  background-size: cover;
}

#card3 {
  background-image: url(../img/seo.jpg);
  background-size: cover;
}

#card3 i{
 margin-top: 25%;
}


#card1:hover,
#card2:hover,
#card3:hover {
  background-image: none;
  background-color: #113a78;

  color: white;
}

.info-cards p {
  max-width: 75%;
  margin: 30px;
  background-color: #ffffff;
  color: black;
  opacity: 0.8;
  border-radius: 10px;
}

form {
  margin-top: 8%;

  background-color: #f0f0f0;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 500px;
  display: flex;
  font-size: 21px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  border-radius: 20px;
  font-weight: bold;
  color: #333;
  gap: 16px;
  border: 1px solid #ccc;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#label-box {
  height: 100px;
}

footer {
  width: 100%;
  height: 300px;
  margin-top: 0%;
  margin-bottom: 0%;
  padding: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  background-color: #113a78;
  color: white;
}

footer ul li a {
  font-size: 20px;
  margin-top: 5%;
  margin-bottom: 5%;
  color: white;
  text-decoration: none;
}

footer ul li {
  margin-top: 5%;
  margin-bottom: 5%;
  list-style: none;
}

.navbar-list-footer {
  margin-top: 0%;
  margin-bottom: 0%;
  display: flex;
  justify-content: right;
  align-items: right;
  text-align: right;
  flex-direction: column;
  font-size: 20px;
}

body {
  margin-top: 5%;
}

@media (max-width: 1500px) {

  .info-cards{
    width: 80%;

  }
  .typewriter {
    animation: none;
  }

  .hero-container {
    flex-direction: column;
  }
 
  .hero-call{
    text-decoration: none;
  }

  
  .info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: 0%;
    align-content: center;
    align-items: center;
  }

 

  button {
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    justify-content: center;
    width: 30%;
    font-size: 12px;
    text-decoration: none;
  }

  #hero-div {
    width: 90%;

    padding: 2%;
  }

  #hero-video {
    width: 100%;
    display: flex;
  }

  #contact{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
  }

  section {
    align-content: center;
    align-items: center;
    margin-right: 0;
    width: 90%;
    gap: 0;
  }


  .footer-div{
    width: 92%;
    margin-left: 8%;
  }

  .navbar-list-footer{
    margin-right: 5%;
  }
}

@media (max-width: 992px) {

  .info-cards{
    width: auto;
  }

  #about {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #about img {
    width: 60%;
    margin-left: 20%;
 
  }

  .info-container {
   
    margin-right: 5%;
  }

  button {
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    justify-content: center;
    width: 40%;
    font-size: 12px;
    text-decoration: none;
  }

  .navbar ul {
    background-color: #253c6a;
    width: 100%;
    height: calc(100vh - 80px);
    position: fixed;
    top: 80px;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(200%);
    transition: all 0.4s ease-out;
  }

  .navbar i {
    display: block;
  }

  #toggle-menu:checked ~ .navbar-list {
    transform: translateX(0%);
    transition: all 0.4s ease-in;
  }
 

 
}

@media (max-width: 572px) {

  .navbar ul{
   height: 100vh !important;
  }

 

  .hero-container{
    margin-bottom: 15%;
   
  }

 
  button{
    width: auto;
  }

  .typewriter {
    font-size: 14px;
   
  }

  h1{
    font-size: 25px;
  }

  main{
    width: 100%;
 
  }

  #contact h1{
    font-size: 20px;
  }
 

  body {
  
    margin-top: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  }

  
  .footer-div{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 70px;
  margin-left: 0%;
  }

  .navbar ul {
    background-color: #253c6a;
    width: 100%;
    height: calc(135vh);
    position: fixed;
    top: 80px;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(200%);
    transition: all 0.4s ease-out;
  }

  #about{
    margin-top: 15%;
 
  }

  #about-div p{
    font-size: medium;
  }

   
}
 